[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
ibm-watson = "*"
watson-developer-cloud = "*"
pandas = "*"

[requires]
python_version = "3.8"
